.game {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  & > main {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

    .toolbar {
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      color: lightgray;
      font-style: italic;
      min-height: 230px;

      & > div {
        display: flex;
        gap: 1em;
        align-items: center;
      }

      & > ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
        max-width: 21em;
      }
    }
  }

  & > aside {
    right: 0;
    height: 100%;
    background-color: #10101f;
    display: flex;
    align-items: stretch;

    & > button {
      border-radius: 0;
      border: none;
      padding: 3px;
      font-family: 'Courier New', Courier, monospace;
    }

    & > div {
      overflow: hidden;
      min-width: 170px;
    }
  }

  & > footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
  }
}

// @media ((min-width: 590px) and (max-width: 844px)) {
//   .game aside {
//     display: block;
//   }
// }

// @media (min-width: 1130px) {
//   .game aside {
//     display: block;
//   }
// }
