.home-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  title {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      min-width: 170px;

      li {
        display: flex;
        width: fit-content;
      }
    }
  }
}
