.attack-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  & > title {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
  }

  & > main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
